* {
	padding: 0;
	margin: 0;
	box-sizing: border-box; 
	text-decoration: none;
	font-family: 'Patrick Hand', sans-serif ;
}

body {
	max-width: 1400px;
	margin: auto;
	background-color: #333333;
}

/* floating buttons */

.section-help-bar {
	display: flex;
	justify-content: end;
	padding: 100px 20px 0 0;
	background-color: #333333;
}

.help-bar {
	max-width: 60px;
	position: fixed;
}

.help-bar a {
	display: block;
	padding: 17px;
	text-decoration: none;
	font-size: 27px;
	color: #333333;
	background-color: #EEEEEE;
	border-radius: 50%;
	margin-bottom: 25px;
}

/* Home Section */

.container {
	background-color: #333333;
	padding: 0px 100px 100px 100px;
	width: 100%;
	height: 100%;

}

.hero h1 {
	color: #EEEEEE;
	font-size: 75px;
	font-family: Patrick Hand;
}

.hero p {
	color: #7D7D7D;
	font-family: Patrick Hand;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
}

.hero .Contact-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	width: 200px;
	height: 50px;
	font-family: Patrick Hand;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 24px;
	color: #333333;
	background: #EEEEEE;
	border-radius: 4px;
}

/* About Me Section */

.section-about-me {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container h2 {
	text-align: center;
	font-size: 70px;
	font-family: Patrick Hand;
	color: #EEEEEE;
}

.about-me-content {
	display: grid;
	grid-template-columns: repeat(4,0fr);
	margin: 50px 0px 50px 0px;
	align-items: center;
}

.photo-background {
	width: 350px;
	height: 400px;
	border-radius: 15px;
	background-color: #EEEEEE;
	margin-left: -325px;
	margin-top: 50px;
}

.photo-about-me {
	position: relative;
	width: 350px;
	height: 400px;
	border-radius: 15px;
} 

.info-section {
	width: 350px;
	height: 400px;
	margin-left: 100px;
}

.info-section h3 {
	font-size: 30px;
	color: #EEEEEE;
	margin-bottom: 20px;
}

.info-section p {
	font-size: 15px;
	color: #EEEEEE;
}

.info-section a {
	text-decoration: none;
	font-size: 40px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 35px;
}

.info-section span{
	display: block;
	margin-top: 15px;
	font-size: 20px;
}

#info-section-email {
	color: #EEEEEE;
	margin-left: 20px;
}

#info-section-phone {
	color: #EEEEEE;
	margin-left: 20px;
}

#info-section-resume {
	display: inline-block;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	width: 200px;
	height: 50px;
	font-size: 20px;
	line-height: 24px;
	color: #333333;
	background: #EEEEEE;
	border-radius: 4px;
}

#info-section-resume-icon {
	display: inline-block;
	font-size: 25px;
	margin-left: 10px;
}

/* Skills Section */

.skills-section {  
	display: grid;
	grid-template-columns: repeat(2,1fr);
	margin: 50px 0px 100px 0px;
	justify-content: center;
}

.skills-section h3 {
	font-size: 20px;
	color: #EEEEEE;
	margin-bottom: 15px;
}

.skills-section-right {
	width: 300px;
	margin: auto;
}

.skills-section-left {
	width: 300px;
	margin: auto;
}

.skills-bars {
	width: 100%;
	background-color: #7D7D7D;
	border-radius: 5px;
	margin-bottom: 10px;
}

.skill-bar {
	text-align: right;
	padding: 2px;
	color: #333333;
	font-weight: 600;
}

.html {
	background-color: #EEEEEE;
	animation: fillhtml 2s forwards;
	border-radius: 4px;
}

@keyframes fillhtml {
	0%{width: 0;}
	100%{width: 70%;}
}

.git {
	background-color: #EEEEEE;
	animation: fillgit 2s forwards;
	border-radius: 4px;
}

@keyframes fillgit {
	0%{width: 0;}
	100%{width: 60%;}
}

.figma {
	background-color: #EEEEEE;
	animation: fillfigma 2s forwards;
	border-radius: 4px;
}

@keyframes fillfigma {
	0%{width: 0;}
	100%{width: 70%;}
}

.illustrator {
	background-color: #EEEEEE;
	animation: fillillustrator 2s forwards;
	border-radius: 4px;
}

@keyframes fillillustrator {
	0%{width: 0;}
	100%{width: 85%;}
}

.spanish {
	background-color: #EEEEEE;
	animation: fillspanish 2s forwards;
	border-radius: 4px;
}

@keyframes fillspanish {
	0%{width: 0;}
	100%{width: 100%;}
}

.javascript {
	background-color: #EEEEEE;
	animation: filljavascript 2s forwards;
	border-radius: 4px;
}

@keyframes filljavascript {
	0%{width: 0;}
	100%{width: 40%;}
}

.wordpress {
	background-color: #EEEEEE;
	animation: fillwordpress 2s forwards;
	border-radius: 4px;
}

@keyframes fillwordpress {
	0%{width: 0;}
	100%{width: 85%;}
}

.photoshop {
	background-color: #EEEEEE;
	animation: fillphotoshop 2s forwards;
	border-radius: 4px;
}

@keyframes fillphotoshop {
	0%{width: 0;}
	100%{width: 40%;}
}

.premiere {
	background-color: #EEEEEE;
	animation: fillpremiere 2s forwards;
	border-radius: 4px;
}

@keyframes fillpremiere {
	0%{width: 0;}
	100%{width: 70%;}
}

.english {
	background-color: #EEEEEE;
	animation: fillenglish 2s forwards;
	border-radius: 4px;
}

@keyframes fillenglish {
	0%{width: 0;}
	100%{width: 35%;}
}

/* porfolio Section */

